
.crypto-market{
  min-height: 80vh;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  /* background: linear-gradient(to left, #e6e6d3, #7fa2c5); */
}

.crypto-market-header {
  text-align: center;
}
.search-field {
  border: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color:black;
  background: linear-gradient(to left, #e6e6d3, #7fa2c5);
}

.green {
  color: green;
}
.red {
  color: red;
}

/* table formation */
.table-header,
.currency-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.table-header div,
.currency-list div {
  flex: 1;
}

.table-header div {
  font-weight: bolder;
}


/* currency details */

.log-in img{
  height: 35px;
  margin-right: 1.5em;
}
.log-in{
  background-color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: rgb(39, 38, 38);
}

.log-in:hover{
  background-color: rgb(73, 72, 72);

}

.get-details{
  height: 60vh;
  text-align: center;
  justify-content: center;
}

.get-details p{
  font-size: 2em;
}

.get-details a{
  text-decoration: none;
  color: #fcfcfc;
}