
.crypto-market{
  min-height: 80vh;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  background: linear-gradient(to left, #e6e6d3, #7fa2c5);
}

.crypto-market-header {
  text-align: center;
}
.search-field {
  border: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.green {
  color: green;
}
.red {
  color: red;
}

/* table formation */
.table-header,
.currency-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.table-header div,
.currency-list div {
  flex: 1;
}

.table-header div {
  font-weight: bolder;
}
